<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration_login.css' %}">
    <title>VAULT</title>
</head>
<body>

    <div id="wrapper">

        {% if messages %}   
            {% for message in messages %}
                <div class="error-messages">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}

        <div id ="register-login-box">

            <h1>VAULT</h1>
            
            <div class = "button-box">
                <div id="button"></div>
                <button class ="toggle-button" onclick="login()">Log In</button>
                <button class ="toggle-button" onclick="register()">Register</button>
            </div>

            <div class="social-icons">
                <img class ="social-imgs" src="{% static 'pictures/facebook.png' %}" alt="facebook"/> 
                <img class ="social-imgs" src="{% static 'pictures/twitter.png' %}"/>
                <img class ="social-imgs" src="{% static 'pictures/instagram.png' %}"/>
            </div>

            <form action="user/login" method="post" id="log-in" class="input-group">
                {% csrf_token %} 
                <input type="text" class="input-field" name="email" placeholder="User Email" required>
                <input type="text" class="input-field" name="password" placeholder="Enter Password" id="password-input" required> 
                <input type="checkbox" class="check-box"> <span> Remember Password </span>
                <button class="submit-button">Log In</button>
            </form>

            <form action="user/create_user" method="post" id="register" class="input-group">
                {% csrf_token %} 
                <input type="text" class="input-field" name="username" placeholder="Create Username" required>
                <input type="text" class="input-field" name="email" placeholder="Enter Email" required>
                <input type="text" class="input-field" name="password" placeholder="Enter Password" required>
                <input type="text" class="input-field" name="confirm_password" placeholder="Confirm Password" required> 
                <input type="checkbox" class="check-box" required> <span> I agree to Vault's <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></span>
                <button class="submit-button">Register</button>
            </form>

        </div>
    </div>
    
    <script> 
        var x = document.getElementById("log-in");
        var y = document.getElementById("register");
        var z = document.getElementById("button");

        function register(){
            x.style.left="-400px";
            y.style.left="50px";
            z.style.left="110px";
        }

        function login(){
            x.style.left="50px";
            y.style.left="450px";
            z.style.left="0px";
        }
    </script>

</body>
</html>