*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

html{
    background: url(pictures/texture.jpg) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.error-messages{
    padding:5px;
    font-size: 10px;
    color:#ff0000;
}

#register-login-box{
    border: 5px #d9d7c7;
    background-color: rgb(255, 255, 255);
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 10px;
    overflow: hidden;
}

h1{
    margin-top:10px;
    opacity:.8;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 30px;
    color: #483e3f;
    text-align: center;
}

.button-box{
    width: 220px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ffffff1f;
    border-radius: 30px;
}

.toggle-button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative; 
}

#button{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ffffff, #d9d1c7);
    border-radius: 30px;
    transition: .5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}

.social-imgs{
    width: 30px;
    margin: 0 12px;
    border-radius: 50%;
}

.social-imgs:hover{
    opacity: .3;
    filter: invert(20%);
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #483e3f;
    outline: none;
    background: transparent;
}

.input-field::placeholder:hover{
    content:none;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

a{
    color: #483e3f;
}

.submit-button{
    margin: auto;
    width: 85%;
    padding: 10px 30px;
    display: block;
    outline: none;
    border: 0;
    border-radius: 30px;
    background-color: #d9d1c7;
}

.submit-button:hover{
    color: white;
}